body{
	background-image: url(../imagens/fundo.png);
	font-family: Arial;
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	font-family: "Times New Roman";
	font-size: 28px;
	color: limegreen;
}

blockquote {
	font-style: italic;
}

h3 {
	font-family: "Times New Roman";
	font-size: 24px;
	color: limegreen;
}

#imagem {
	border: 4px solid limegreen;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 600px;
	
}

th, td {
	text-align: center;
	border: 2px solid silver;
	padding: 3px;
	
}

table p {
	margin-bottom: 2px;
	margin-top: 2px;
}



